@charset "UTF-8";

@font-face {
    font-family: "font-destaque";
    src: url(../fontes/MAKISUPA.TTF);
    format: ("truetype");
}
@font-face {
    font-family: "font-aspas";
    src: url(../fontes/Airthan-Age.ttf);
}
:root{
    --cor01: #2d3544;
    --cor02: #202631;
    --cor03: #14181f;
    --cor04: #050608;
    --cor-de-tes-01: #c9c8c8;
    --cord01: #16dbce;
    --cord02: #36fcee;
    --font-destaque: "font-destaque";
    --font-aspas: "font-aspas";
}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--font-destaque);
}



::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

body{
    /* background-attachment: fixed; */
    background-color: #202631;
}
@keyframes body {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
/* container-principal */
#container-principal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    row-gap: 10px;
    column-gap: 10px;
    transition: wrap 5s;
}

/* section-perfil */

section#perfil{
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
    max-width: 660px;
    height: 520px;
    /* border: 1px solid darkorchid; */
    padding: 1px;
    background-color: transparent;
}
@media screen and (max-width: 1000px){
    section#perfil{
        margin-top: 20px;
    }
}
#div-perfil{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
    /* border: 1px solid black; */
    max-width: 370px;
}

#div-perfil #foto-perfil{
    width: 40vw;
    max-width:340px;
    min-width: 270px;
    border-radius: 50%;
    border: 3px solid transparent;
    outline: 3px solid var(--cord01);
    background-color: transparent;
}

#div-perfil p{
    color: var(--cord01);
    text-align: center;
    width: 196px;
    /* border: 1px solid darkblue; */
}

span.aspas{
    font-size: 1em;
    color: white;
    font-family: sans-serif;
}
div#apresentacao{
    width: 270px;
    max-height: 120px;
    /* border: 1px solid blue; */
}
#apresentacao h1{
    font-size: clamp(1.5rem, 10vw, 2.6rem);
    font-family: var(--font-destaque);
    color: var(--cor-de-tes-01);
    font-weight: bold;
}

div#apresentacao span{
    color: var(--cord01);
}

#apresentacao p{
    display: inline-block;
    color: black;
    font-size: 1em;
    border-right: 3px solid black;
    padding-right: 3px;
    max-width: 0px;
    white-space: nowrap;
    overflow: hidden;
    animation: pisca normal infinite .8s, escrever infinite 7s steps(55) both;
}

@keyframes pisca{
    100%{
        border-right-color: transparent;
    }
}

@keyframes escrever{
    100%{
        max-width: 100%;
    }
}


div#redes-sociais{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    row-gap: 5px;
    column-gap: 5px;
    width: 270px;
    height: 50px;
    /* border: 1px solid darkgreen; */
}

#redes-sociais img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 60px var(--cord02);
    transform: translateX(-2px) translateY(-2px);
}
#redes-sociais div p{
    width: 40px;
    height: 40px;
    background-color: var(--cord02);
    filter: blur(15px);
    border-radius: 2px;
    transform: translateY(-15px) perspective(24px) rotateX(50deg) scale(1, 0.35);
}
#redes-sociais div{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: var(--cord02);
}

div#redes-sociais a:active{
    transform: scale(.7);
    background-color: var(--cord01);
}



/* section-sobre */
section#sobre{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-grow: 1;
    /* width: 400px; */
    height: 620px;
    /* border: 1px solid darkorchid; */
}
@media screen and (max-width: 1000px){
    section#sobre{
        margin-top: 50px;
    }
}
@media screen and (max-width: 355px) {
    section#sobre{
        margin-top: 20px;
        flex-wrap: wrap-reverse;
        height: 615px;
        padding-bottom: 10px;
    }
}


div#icones{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 50px;
    height: 100%;
    /* border: 1px solid darkgreen; */
}
@media screen and (max-width: 355px){
    div#icones{
        justify-content: space-between;
        align-items: flex-start;
        /* background-color: #e01818; */
        margin-top: 10px;
        width: 280px;
        height: 82px;
    }
}

#icones div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50px;
    /* border: 1px solid darkblue; */
}

#icones img{
    width: 50px;
    height: 50px;
    margin: auto;
    background-color: transparent;
    transition: trasform .5s;
}


#icones img:active{
    transform: scale(.7);
}


#icones p{
    font-size: .7em;
    text-align: center;
    color: var(--cor-de-tes-01);
}

div#frame-galaxy{
    position: relative;
    width: 19em;
    height: 620px;
    /* border: 1px solid darkgoldenrod; */
}
@media screen and (max-width: 355px){
    div#frame-galaxy{
        height: 520px;
    }
}

div#frame-galaxy img{
    width: 19em;
    height: 620px;
    /* border: 1px solid darkgreen; */

} 
@media screen and (max-width: 355px){
    div#frame-galaxy img{
        height: 520px;
    }
}

div#frame-galaxy iframe{
    position: absolute;
    top: 2em;
    left: 10px;
    width: 17.8em;
    height: 35em;
    border: 0px;
    border-radius: 25px;
}
@media screen and (max-width: 345px){
    div#frame-galaxy iframe{
        height: 29em;
    }
}

footer{
    background-color: #e01818;
}

footer p{
    text-align: center;
    padding: 5px;
    color: white;
}

