@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}


body{
    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


#telefone{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    background-image: url(../imagens/frame-galaxy.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 250px;
    height: 550px;
    border-radius: 20px;
}



img{
    background-attachment: fixed;
    width: clamp(2.5rem, 10vw, 4rem);
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
}

#redes-sociais{
    background-attachment: fixed;
    position: absolute;
    top: 10px;
    right: 2px;
}

iframe#tela-home{
    position: relative;
    top: 31px;
    left: 6.3px;
    width: 238.5px;
    height: 485px;
    border-radius: 25px;
}

img:hover{
    border: 2px solid #ffffff8f;
    transform: translate(-5px, 0px);
    transition: transform .5s;
}